@font-face {
  font-family: 'Monocraft';
  src: url('./public/assets/fonts/monocraft.otf') format('opentype');
}

html {
  background-color: rgba(0, 0, 0, 0);
}
body {
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

canvas {
}
