@font-face {
  font-family: 'Monocraft';
  src: url('./public/assets/fonts/monocraft.otf') format('opentype');
}

html {
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

#clearSelection {
  image-rendering: pixelated;
  cursor: pointer;
  border: 0;
  background-color: transparent;

  position: absolute;
  right: 0;
  top: 0;
  margin: 10px 30px;
  display: none;
}

#clearSelection > svg {
  position: fixed;
}
